<div class="post" *ngIf="post$ | async as post; else loading">
  <div class="header card-style">
    <h1>{{post.name}}</h1>
    <button routerLink="/" class="button">Go home</button>
  </div>
  <div class="info card-style">
    <strong>{{post.author}}</strong>
    <small>{{post.date | date: 'medium': null : 'ru'}}</small>
  </div>
  <div class="content card-style">
    <quill-view-html [content]="post.content"></quill-view-html>
  </div>
</div>
<ng-template #loading>
  Загружается...
</ng-template>
