.header {
  background: #045a04;
  color: #fff;
  border: 2px solid #036903;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu ul li a {
  margin-right: 10px;
  padding: 2px 5px;
  border-radius: 5px;
}
.menu ul li a:hover,
.menu ul li a.active {
  background: rgba(255,255,255);
  color: #000;
}
